[flake8]
exclude =
    .git,
    .pybuild,
    .eggs,
    __pycache__,
    .venv

ignore =
    #Don't require docstrings on magic methods.
    D105,
    #Don't require docstrings for __init__ methods.
    D107
    #Don't require imperative mood docstrings.
    D401
    #Allow binary operators at the beginning of lines
    W503

max_line_length = 90
